body {
    background-color: #bce6ff;
.glossary{
    color: #1F51FF	;
    background-color: white;
    border: 50;
    border-color: black;
}
.navbar-container{
    display: flex;
    justify-content: center;
}

.index{
    background-color: white;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.index{
    background-color: lightpink
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.screen2{
    background-color: #bce6ff;
    }
    <center>
.score {
    background-color: #cb8be4; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  </center>
}